body {
    background-color: transparent !important;
}

#callsignBox {
    background: none;
    border-bottom: 1px solid rgba(var(--va-accent-back-color), 1);
}

.modal-background {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
}

.loading {
    opacity: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
